package di

import (
	"go.uber.org/fx"
	"{{ .Module }}/internal/platform/env"
	"{{ .Module }}/internal/platform/logger"
)

func Root() fx.Option {
	return fx.Options(
		env.Module(),
		logger.Module(),
	)
}
