package logger

import (
	"log/slog"
	"os"
	"strings"

	"go.uber.org/fx"
	"{{ .Module }}/internal/platform/env"
)

func Module() fx.Option {
	return fx.Provide(func(cfg *env.Config) *slog.Logger {
		level := slog.LevelInfo
		switch strings.ToLower(cfg.Logger.Level) {
		case "debug":
			level = slog.LevelDebug
		case "warn":
			level = slog.LevelWarn
		case "error":
			level = slog.LevelError
		}
		return slog.New(slog.NewTextHandler(os.Stdout, &slog.HandlerOptions{
			Level: level,
		}))
	})
}
