package ports

import (
	"context"
	"{{ .Module }}/internal/core/entity"
)

type UserRepository interface {
	Save(ctx context.Context, u *entity.User) error
	FindByID(ctx context.Context, id string) (*entity.User, error)
	List(ctx context.Context, limit, offset int) ([]*entity.User, error)
}
