package core

import (
	"go.uber.org/fx"
	"{{ .Module }}/internal/core/usecase"
)

var Module = fx.Module(
	"core",
	fx.Provide(
		usecase.NewUserService, // depends on a UserRepository via name:"userrepo"
	),
)
